data/
processed/
training/
zz_PlotNeuralNet/
zz_Sandbox/
graphics/archive
src/archive/
#stacked_multiband.tif
# Ignore all .tif files
*.tif
/results/
*.pth
*.npz
*.png
*cfg.json
*logs.json
10_Data/
.DS_Store
.ipynb_checkpoints/
*.pyc
__pycache__/
