colorcet==3.1.0
contextily==1.1.0
datashader==0.16.3
esda==2.5.1
folium==0.17.0
geopandas==0.14.4
geopy==2.4.1
h3==3.7.7
libpysal==4.11.0
matplotlib==3.9.1
numpy>=1.21.0
osmnx==1.9.3
pandas==2.2.2
plotly==5.22.0
pydeck==0.9.1
#rasterio>=1.3.10
rioxarray==0.16.0
rtree==1.3.0
scipy==1.14.0
session_info==1.0.0
shapely==2.0.5
sklearn==1.5.1
spreg==1.5.0
statsmodels==0.14.2
xarray==2024.6.0
PIL==10.4.0
affine==2.4.0
appnope==0.1.4
arrow==1.3.0
attr==23.2.0
attrs==23.2.0
babel==2.14.0
branca==0.7.2
brotli==1.1.0
bs4==4.12.3
certifi==2024.07.04
cffi==1.16.0
charset_normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
cycler==0.12.1
dask==2024.7.0
dateutil==2.9.0
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
distutils==3.12.4
executing==2.0.1
fsspec==2024.6.1
ipykernel==6.29.5
jedi==0.19.1
jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jupyter_events==0.10.0
jupyter_server==2.14.2
jupyterlab_server==2.27.2
kiwisolver==1.4.5
llvmlite==0.43.0
markupsafe==2.1.5
mercantile==1.2.1
multipledispatch==0.6.0
nbformat==5.10.4
numba==0.60.0
objc==10.3.1
osgeo==3.9.1
param==2.1.1
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.2
pyct==0.5.0
pydevd==2.9.5
pygments==2.18.0
pyparsing==3.1.2
pyproj==3.6.1
requests==2.32.3
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
setuptools==70.3.0
six==1.16.0
sniffio==1.3.1
socks==1.7.1
stack_data==0.6.2
threadpoolctl==3.5.0
tlz==0.12.1
toolz==0.12.1
tornado==6.4.1
traitlets==5.14.3
urllib3==2.2.2
wcwidth==0.2.13
webcolors==24.6.0
websocket==1.8.0
xyzservices==2024.6.0
yaml==6.0.1
zmq==26.0.3
zstandard==0.23.0
IPython==8.26.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab==4.2.3
notebook==7.2.1
Python==3.12.4
seaborn==0.12.2
scikit-image==0.20.0
scikit-learn==1.3.0
scikit-learn-intelex==2024.0.0
#scipy==1.14.0
#Clang==16.0.6
