00_minimal:
  spectral:
    seasons: ["summer"]
    quantiles: ["Q50"]
  aux_inputs: []
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

01_baseline:
  spectral:
    seasons: ["summer"]
    quantiles: ["Q50"]
  aux_inputs: ["FMASK"]
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

02_pixel_composites:
  spectral:
    seasons: ["summer"]
    quantiles: ["Q25","Q50","Q75"]
  aux_inputs: ["FMASK"]
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

03_seasonal_composites:
  spectral:
    seasons: ["spring","summer","autumn"]
    quantiles: ["Q50"]
  aux_inputs: ["FMASK"]
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

04_pixel_and_seasonal_comp:
  spectral:
    seasons: ["spring","summer","autumn"]
    quantiles: ["Q25","Q50","Q75"]
  aux_inputs: ["FMASK"]
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

05_support_fmask_dlt:
  spectral:
    seasons: ["spring","summer","autumn"]
    quantiles: ["Q25","Q50","Q75"]
  aux_inputs: ["FMASK","DLT"]
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

06_support_fmask_dlt_dem:
  spectral:
    seasons: ["spring","summer","autumn"]
    quantiles: ["Q25","Q50","Q75"]
  aux_inputs: ["FMASK","DLT","DEM"]
  strategy: all_in_model
  outputs:
    canopy_height:
      target: "CHM_norm"
      loss: huber

07_aux_task:
  spectral:
    seasons: ["spring","summer","autumn"]
    quantiles: ["Q25","Q50","Q75"]
  aux_inputs: []
  strategy: aux_task
  outputs:
    canopy_height:
      target: "CHM_norm"
      out_channels: 1
      loss: huber
      weight: 1.0
      activation: null
    tree_cover:
      target: "FMASK"
      out_channels: 1
      loss: bce
      weight: 0.3
      activation: null  # BCEWithLogits applies sigmoid internally
    leaf_type:
      target: "DLT"
      out_channels: 3
      loss: crossentropy
      weight: 0.2
      activation: null


# 09_all_quantiles_fmask_dlt_dem:
#   spectral:
#     seasons: ["spring","summer","autumn"]
#     quantiles: ["Q25","Q50","Q75","AVG","STD"]
#   aux_inputs: ["FMASK","DLT","DEM"]
#   strategy: all_in_model
#   outputs:
#     canopy_height:
#       target: "CHM_norm"
#       loss: huber